<a href="https://colab.research.google.com/github/Zannat98/DataScienceBootcamp-HU-/blob/main/Exit_Ticket_Print_and_DTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [3]:
# Create an object with a value of 2
x=2
print(x)

# Check the data type
type(x)

2

int

In [4]:
# Create an object with a value of 1086J
y=1086J
print(y)


# Check the data type
type(y)

1086j

complex

In [5]:
# Create an object with a value of 3.14567
z=3.14567


# Check the data type
type(z)

float

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [7]:
# Printing your name
My_Name = input("Enter your name: ")

# Check the results of the My_Name variable
print(My_Name)

Enter your name: Hira
Hira

In [8]:
# Check the data type of the My_Name variable
type(My_Name)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [12]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")
Your_Name = input("What is your name?")

# Use a print statement to check your input. Add a greeting to your statement.
print("Hello ", Your_Name,"!")

# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")


# Now use a print statement to tell the user the data type.
type(Your_Name)
print("Your Name is", type(Your_Name))
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))

What is your name?Hira
Hello  Hira !
Your Name is <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [13]:
# Let's check how many characters does your name contain.
len(Your_Name)
# Syntax: len(variableName)

4

In [14]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: variableName.isupper()
Your_Name.isupper()

False

In [15]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()
Your_Name = Your_Name.upper()
# Call the variable using the variable name.
print(Your_Name)

HIRA

In [16]:
# Check the uppercase again,
# Now the output of isupper() changes to True.
Your_Name.isupper()

True

In [23]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence= "Hello! I want to start a project."

# Use a print statement to view your new_sentence
print(new_sentence)

# Use the .upper() method in a print statement to print the upper case sentence
print("Using upper():", new_sentence.upper())
# HINT: Use a print statement, your variable name, and the .upper() method


# Use the .capitalize() method to print the sentence with the first word capitalized.
print("Using capitalize():", new_sentence.capitalize())
# Use the .title() method to print the sentence with the first letter of each word capitalized.

# Capitalize the first letter of each word
print("Using title():", new_sentence.title())

Hello! I want to start a project.
Using upper(): HELLO! I WANT TO START A PROJECT.
Using capitalize(): Hello! i want to start a project.
Using title(): Hello! I Want To Start A Project.

In [24]:
# Check the data type of the object you just created.
type(new_sentence)

str

In [25]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()

new_sentence.isupper()

False

In [26]:
# Challenge - Check if it is all lower case or not.
new_sentence.islower()
# Use the example above to complete the challenge question

False

In [28]:
# Challenge - Convert your object into all caps.
new_sentence.upper()

'HELLO! I WANT TO START A PROJECT.'

In [29]:
# Challenge - Convert your object into all lower case.

new_sentence.lower()

'hello! i want to start a project.'

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [30]:
# Create two variables, one with a value of True, one with a value of False
p= True
print(p)

True

In [31]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma
type(p)

bool

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [33]:
# Create an object containing an integer.
q=5

In [34]:
# Check the data type of your new object
type(q)

int

In [40]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)
r = 1
r = str(r)

In [39]:
# Check the data type of your new object again.
type(r)

str

In [41]:
# Exercise for you. Store the number 123456 as string.
s = 123456
s = str(s)
# Check the data type
type(s)

str

In [42]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string
t ="5"
# Check the data type of your variable

type(t)

str

In [43]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)
s = int(s)
# Check the data type
type(s)

int

In [44]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
w = "3.14"
w = float(w)
# Check the data type
type(w)

float

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.