<a href="https://colab.research.google.com/github/Zannat98/DataScienceBootcamp-HU-/blob/main/Practice_(conditional_statement).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
if 5 > 4:
    print("1st command if organ")
    print("2nd cojhvjluyluygyu")

1st command if organ
2nd cojhvjluyluygyu

In [9]:
x = -5
y = 10
if x > 0 or y > 0:
  print ("Atleast one condition failed")
else:
  print ("Both x and y are positive")

Atleast one condition failed

In [13]:
if 7 !=10 :
    print("The above statement is true")

else:
    print("This is not related to the if statement")

The above statement is true

In [23]:
grade = int(input("What is your grade? "))
if grade>70:
   print("Congrats, you passed the class")
elif grade==70:
   print("You jjust saved your life")
else:
  print("let's try again")

What is your grade? 69
let's try again

In [30]:
if 5 > 4:
    print("The boolean expression is true")

The boolean expression is true

In [31]:
my_bool = True

if my_bool:
    print("The value of my_bool is true")
else:
    print("The value of my_bool is false")

The value of my_bool is true

In [29]:
num = 4

if num % 2 == 0:
    print(str(num) + " is an even number")
else:
    print(str(num) + " is an odd number")

4 is an even number

In [ ]:
a = 500
b = "July"

if a < 10:
    print(str(a) + " is less than 10")
elif a < 20:
    print(str(a) + " is less than 20")
elif a < 30:
    print(str(a) + " less than 30")
else:
    print(str(a) + " is greater than 30 "+ b)
    print(b)

500 is greater than 30 July
July

In [34]:
# create a list of Black artists
black_artists = ["Jean-Michel Basquiat", "Romare Bearden","Kara Walker", "Lorna Simpson", "Kerry James Marshall"]

# check for 'Kehinde Wiley'
if 'Kehinde Wiley' in black_artists:
  print('Kehinde Wiley is on the list')
else:
  print('Kehinde Wiley is not on the list')


my_list = ["rice","meat","vegetables"]
if "rice" in my_list:
  print("rice is in the list")

my_numbers = [1,2,3,4,5]
if 3 in my_numbers:
  print("3 is in the list")

Kehinde Wiley is not on the list
rice is in the list
3 is in the list

In [ ]:
name = input("What is your name?")
print(name)

What is your name?Amy
Amy